.banner{
    background: var(--azul-degrade);
    color:var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 17px;
    font-weight: 700;
}

.banner__texto{
    font-size: 14px;
    font-weight: 500;
    margin: 2em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}