.contato{
    background-color: var(--branco);
    padding: 1em 0;
}

.contato__titulo{
    font-size: 17px;
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato__titulo, .contato__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

.contato__email{
    padding: 1em 0;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 100%;
    color: var(--azul);
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url(../img/Email.svg) no-repeat;
    padding-left: 2em;
    text-align: center;
    background-position: 1em;
}