.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url("/img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}