.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cabecalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url("/img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    padding: 1em;
}

.container__botao:checked~.lista-menu{
    display: block;
}