.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 1em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link{
    color: var(--branco);
    padding: 1em 1em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}